# data files - this is open source and way too big to sync
mimic_cxr_reports/
mimic_cxr_text_only.tar.gz
models/
.micromamba
*/*.html  # Any non-programmatic output I'm sharing with others

# data files are too large, must be synced manually
data/*
